<h2>Eventos</h2>
<hr>

<div action="" class="form-inline">
  <div class="form-group col-3">
    <input type="text" class="form-control me-2" placeholder="Filtrar por..." [(ngModel)] ="filtroLista">
  </div>
</div>

<table class="table table-striped mt-4">
  <thead class="table-dark">
    <tr>
      <th><button class="btn btn-outline-light btn-sm" (click)="mostrarImagem()">{{ !mostrarImagens ? "Ocultar" : "Exibir" }}</button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <th >
        <img class="collapse navbar-collapse" [collapse]="mostrarImagens" [isAnimated]="true" src="/assets/{{evento.imagemURL}}" alt="" [style.width.px]="imageWidth" [style.margin.px]="imageMargin">
      </th>
      <th>{{evento.eventoId}}</th>
      <th>{{evento.tema}}</th>
      <th>{{evento.local}}</th>
      <th>{{evento.dataEvento}}</th>
      <th>{{evento.qtdPessoas}}</th>
      <th>{{evento.lote}}</th>
      <th>
        <button class="btn btn-sm btn-info me-2">Editar</button>
        <button class="btn btn-sm btn-danger">Remover</button>
      </th>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">Nenhum evento encontrado..</td>
    </tr>
  </tfoot>
</table>
